body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #111;
  color: #ddd;
}

ul {
  list-style: none;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
}
nav li {
  padding: 10px;
}
.logo {
  font-weight: bold;
}

/* DON'T INCLUDE STORIES ALREADY IN ARRAY (USE FIND (BY IDS)) */
.stories ul {
  width: 80%;
}
.stories li {
  border-bottom: 1px solid #aaa;
  padding: 1em;
}

a {
  text-decoration: none;
  color: #ddd;
  cursor: pointer;
}

nav a, .stories a:hover {
  color: #01FF70;
}

nav a:hover, .logo, footer a:hover {
  color: #0074D9
}

.details {
  font-size: 0.6em;  
}

footer {
  margin-top: 50px;
  text-align: center;
  font-size: 0.8em;
}

.headbang {
  text-decoration: line-through;
}

.heart {
  color: #0074D9;
}